.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.navName {
  margin: 2rem 3rem;
  font-weight: bold;
}

.navName h2 {
  list-style-type: none;
  text-decoration: none;
}

.navUl {
  display: flex;
  text-align: center;
  gap: 2rem;
  margin-right: 1rem;
}

.navUl li {
  text-decoration: none;
  list-style-type: none;
}

.navUl li a {
  text-decoration: none;
  color: rgb(21, 4, 4);
}
