.tableContainer table {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 18px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
}

.buttonGap {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

button {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  transition: all 0.2s;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  color: black;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnEdit {
  background-color: rgb(51, 51, 237);
}

.btnEdit::after {
  background-color: rgb(51, 51, 237);
}

.btnDelete::after {
  background-color: rgb(243, 27, 27);
}

.btnDelete {
  background-color: rgb(243, 27, 27);
}
